.logout-menu {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.logout-menu__button {
  padding: 0 30px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--text-main-color);
  border: 2px solid var(--text-main-color);
  text-decoration: none;
  border-radius: 21px;
  box-sizing: border-box;
}